
<h2 class="precept-book"><b>Wondering About Wonder & Website?</b></h2>
<h3 class="about-ask"><b>What is Wonder?</b></h3>
<p class="about-text">Wonder is a book by RJ Palacio which centers around a fifth grader named August (Auggie) attending school for the first time. Auggie's English teacher, Mr. Browne, presents precepts to his class as a springboard for discussion. Mr. Browne also encourages his students to come up with their own words to live by. On this website, student precepts are displayed with quotes around the author's name.
</p>
<p class="about-text">
There are also three short stories and a spinoff book in the same "universe". All are highly recommended!
<ul>
<li class="about-text"><a href="http://amzn.com/0375869026" target='_blank'>Wonder</a></li>
<li class="about-text"><a href="http://amzn.com/1101934859" target='_blank'>Auggie & Me</a></li>
<li class="about-text"><a href="http://amzn.com/0553499041" target='_blank'>365 Days of Wonder: Mr. Browne's Book of Precepts</a></li>
</ul>
</p>

<h3 class="about-ask"><b>About this website</b></h3>
<p class="about-text">
The quotes stored by this application can be accessed via API. 
For more information, please see this project's <a href="https://github.com/yuzu-r/wondersay" target='_blank'>github page</a>.
</p>
<p class="about-ask">
Want to see other projects?
</p>
<a id = "contact" style="text-decoration : none" class="about-ask" href='#' data-toggle="modal" data-target="#myModal" >
  Questions or Feedback?
</a>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send a Message</h4>
      </div>
      <%= form_for @message, url: '#', :remote => true do |f| %>
        <div class="modal-body">
          <ul class="errors"></ul>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
          <br/>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <br/>
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control' %>
          <br/><br/>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%=f.submit "Send Message", class: 'btn btn-primary', id: 'send-message' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
// clear out the message modal in case there is data in there from previous send
  $(".modal").on("hidden.bs.modal", function(){
      $(".form-control").val("");
  });

</script>