<h1>Edit Precept</h1>

<%= form_for @quote do |f| %>

  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this precept from being saved:</h2>
      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.label :quote %>
  <%=f.text_field :quote, class: 'form-control' %>
  <%=f.label :author %>
  <%=f.text_field :author, class: 'form-control' %>
  <br/>
  <%=f.submit "Save" %>
<% end %>
<br/>
<%= link_to 'Cancel', quotes_path %>