<div class="col-sm-offset-3 col-sm-6">
  <h2>Enter a New Precept</h2><br/>
</div>
<div class="clear">
<p>The author should be the original source of the quote. If the precept was submitted by a student in the story (ie original to RJ Palacio), use "" around the name, e.g. "August Pullman".
</p>
<%= form_for @quote do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@quote.errors.count, "error") %> prohibited this precept from being saved:</h3>
      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.label :quote %>
  <%=f.text_field :quote, class: 'form-control' %>
  <br/>
  <%=f.label :author %>
  <%=f.text_field :author, class: 'form-control' %>
  <br/><br/>
  <%=f.submit "Create New Precept", class: 'btn btn-primary' %>
<% end %>

<br/>
<%= link_to 'Cancel', quotes_path %>